<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>Document</title>
</head>
<body>
  
  <nav class="navbar">
    <h1>THE WEB SCRAPPER</h1>
    <img src="./amazon-logo.png" alt="">
  </nav>

  <main class="main-content">
    <div class="search-input">
      <input type="text">
      <img src="./search-icon.png" alt="" srcset="">
    </div>
  </main>

</body>
</html>